html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.add-note{
    border: none;
    background-color: #33BB33;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    color: white;
    -webkit-box-shadow: 0 0 0 4px #8A78FF;
    box-shadow: 0 0 0 4px #8A78FF;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    z-index: 6;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
.add-note:active{
    background-color: #22AA22;
}
.add-note > span{
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 40px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    position: relative;
    /*top: -2px;*/
}

.note-container{
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.note-container > .note-pane{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.note-pane > textarea{
    border: none;
    display: block;
    width: 300px;
    height: 300px;
}
.note-pane > button{
    display: inline-block;
    margin: 20px;
    border: none;
    background-color: #288FB4;
    padding: 15px;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 10px;
}
